@page
@model IndexModel
@{
	ViewData["Title"] = "Dashboard";
	//var base_path = Request.PathBase;
}


<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-1">
				<div class="card-body">
					<h3 class="card-title text-white">Produse vandute</h3>
					<div class="d-inline-block">
						<h2 class="text-white">@Model.ProduseVandute</h2>
					</div>
					<span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-2">
				<div class="card-body">
					<h3 class="card-title text-white">Comenzi primite</h3>
					<div class="d-inline-block">
						<h2 class="text-white">@Model.Comenzi</h2>
					</div>
					<span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-3">
				<div class="card-body">
					<h3 class="card-title text-white">Total clienti</h3>
					<div class="d-inline-block">
						<h2 class="text-white">@Model.TotalCLienti</h2>
					</div>
					<span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-4">
				<div class="card-body">
					<h3 class="card-title text-white">Rating de la clienti</h3>
					<div class="d-inline-block">
						<h2 class="text-white">@Model.Rating%</h2>
					</div>
					<span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body pb-0 d-flex justify-content-between">
							<div>
								<h4 class="mb-1">Total vanzari</h4>
								<h3 class="m-0">@Model.TotalVanzari RON</h3>
							</div>

						</div>
						<div class="chart-wrapper">
							<canvas id="chart_widget_2"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-3">
				<a href="https://play.google.com/store/apps/details?id=com.tmiit.livroapp" target="_blank">
					<div class="card-body">
						<h3 class="card-title text-white">App Client</h3>
						<div class="d-inline-block">
							<h2 class="text-white">Download</h2>
						</div>
						<span class="float-right display-5 opacity-5"><i class="fa fa-download "></i></span>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-sm-6">
			<div class="card gradient-4">
				<a href="~/BackFiles/com.tmiit.livroappmng.apk" target="_blank">
					<div class="card-body">
						<h3 class="card-title text-white">App Management</h3>
						<div class="d-inline-block">
							<h2 class="text-white">Download</h2>
						</div>
						<span class="float-right display-5 opacity-5"><i class="fa fa-download"></i></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- #/ container -->
@section Scripts {
<!-- Chartjs -->
<script src="~/plugins/chart.js/Chart.bundle.min.js" asp-append-version="true"></script>
<!-- Circle progress -->
<script src="~/plugins/circle-progress/circle-progress.min.js" asp-append-version="true"></script>
<!-- Datamap -->
<script src="~/plugins/d3v3/index.js" asp-append-version="true"></script>
<script src="~/plugins/topojson/topojson.min.js" asp-append-version="true"></script>
	@*<script src="~/plugins/datamaps/datamaps.world.min.js"></script>*@
<!-- Morrisjs -->
<script src="~/plugins/raphael/raphael.min.js" asp-append-version="true"></script>
<script src="~/plugins/morris/morris.min.js" asp-append-version="true"></script>
<!-- Pignose Calender -->
<script src="~/plugins/moment/moment.min.js" asp-append-version="true"></script>
<script src="~/plugins/pg-calendar/js/pignose.calendar.min.js" asp-append-version="true"></script>
<!-- ChartistJS -->
<script src="~/plugins/chartist/js/chartist.min.js" asp-append-version="true"></script>
<script src="~/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js" asp-append-version="true"></script>
<script src="~/js/dashboard/dashboard-1.js" asp-append-version="true"></script>
}