@page
@model ListaSubCategoriiModel
@{
	ViewData["Title"] = "Sub Categorii";
	var base_path = Request.PathBase;
}
<div class="container-fluid mt-3">
	<h1>Sub Categorii</h1>
	<div class="row card mt-2">
		<div class="table-responsive">
			<table class="table header-border table-hover verticle-middle">
				<thead>
					<tr>
						<th>Nume</th>
						<th>Categorie</th>
						<th style="text-align:right"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var category in Model.SubCategories)
					{
						<tr>
							<td>@category.Name</td>
							<td>
								@Model.Categories.FirstOrDefault(categ => categ.CategoryId == category.CategoryRefId).Name
							</td>
							@*<td>
						@if (category.Photo != null)
						{
						var image_path = $"{base_path}/api/webimage/GetImage/{category.Photo}";
						<img id="categoryphoto" style="width:50px;height:50px; object-fit:cover" src="@image_path">
						}
						else
						{
						<img id="categoryphoto" style="width:50px;height:50px; object-fit:cover" src="~/content/No_image_available.svg">
						}
						</td>*@
							<td>
								<button class="btn btn-danger" style="float:right;margin-left:5px" onclick="ConfirmDelete(@Model.Canal,@category.SubCategoryId)">Sterge</button>
								<a class="btn btn-primary" style="float:right;margin-left:5px" asp-area="" asp-page="/AdminPanel/SubCategory/CreateSubCategory" asp-route-canal="@Model.Canal" asp-route-categId="@category.SubCategoryId">Editeaza</a>

							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		function ConfirmDelete(canal, categId) {
			var x = confirm("Esti sigur ca vrei sa stergi, se vor sterge si produsele care apartin acestei subcategorii?");
			if (x !== false)
				window.location.href = '/AdminPanel/SubCategory/DeleteSubCategory?canal=' + canal + '&categId=' + categId;
		}
	</script>
}