@page
@model OrdersModel
@{
    ViewData["Title"] = "Orders";
    ViewData["ActivePage"] = ManageNavPages.Orders;
    var base_path = Request.PathBase;
}

@if (Model.Products == null)
{
    <h4>@ViewData["Title"]</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Status</th>
                <th>Total</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.Status</td>
                    <td>@order.TotalOrdered</td>
                    <td>@order.Created</td>
                    <td>
                        <a class="btn btn-primary @ManageNavPages.OrdersNavClass(ViewContext)" id="profile" asp-area="Identity" asp-page="/Account/Manage/Orders" asp-route-orderId="@order.OrderId">MoreDetails</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>Order Details</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity Ordered</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@Model.ProductInOrders.FirstOrDefault(quantity => quantity.ProductRefId == product.ProductId).UsedQuantity</td>
                    <td>
                        @if (@product.Photo != null)
                        {
                            var image_path = $"{base_path}/Image/{product.Photo}";

                            <img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="@image_path">
                        }
                        else
                        {
                            <img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="">
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-page="/ViewProduct" asp-route-productId="@product.ProductId">Go to product</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary @ManageNavPages.OrdersNavClass(ViewContext)" style="float:right" id="profile" asp-area="Identity" asp-page="/Account/Manage/Orders">Go back</a>

}