@page
@model OrderInfoModel
@{
	ViewData["Title"] = "Detalii comanda";
}
<div class="container-fluid mt-3">
	<h1>Detalii comanda @Model.Order.OrderId</h1>
	<div class="row card mt-2">
		<div class="table-responsive">
			<table class="table header-border table-hover verticle-middle">
				<thead>
					<tr>
						<th>Client</th>
						<th>Adresa</th>
						<th>Nr telefon</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>@Model.Order.OrderInfo.FullName</td>
						<td>@Model.Order.OrderInfo.Address</td>
						<td>@Model.Order.OrderInfo.PhoneNo</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row card mt-2">
		<div class="table-responsive">
			<table class="table header-border table-hover verticle-middle">
				<thead>
					<tr>
						<th>Produs</th>
						<th>Descriere</th>
						<th>Cantitate</th>
						<th>Pret total</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var product in @Model.Products)
					{
						<tr>
							<td>@product.Name</td>
							<td>@product.Description</td>
							<td>@Model.Order.ProductsInOrder.FirstOrDefault(prod => prod.ProductRefId == product.ProductId).UsedQuantity</td>
							<td>@(Model.Order.ProductsInOrder.FirstOrDefault(prod => prod.ProductRefId == product.ProductId).UsedQuantity * product.Price) RON</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>