@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var base_path = Request.PathBase;

}

<div class="text-center">
    <h1 class="display-4">Welcome To Online Shop</h1>
</div>

<div class="search-form">
    <form method="post">
        <input type="text" name="ProductName"/>
        <input type="submit" value="Search product"/>
    </form>
</div>

<div id="main-page-products" class="row">
    @foreach (var product in Model.Products)
    {
    <div id="products" class="col-lg-4 col-md-4 col-sm-6">
        @if (@product.Photo != null)
        {
            var image_path = $"{base_path}/Image/{product.Photo}";
            <a asp-area="" asp-page="/ViewProduct" asp-route-productName="@product.Name">
                <img id="productphoto" style="width:130px;height:130px; object-fit:cover" src="@image_path">
            </a>
        }
        else
        {
            <a asp-area="" asp-page="/ViewProduct" asp-route-productName="@product.Name">
                <img id="productphoto" style="width:130px;height:130px; object-fit:cover" src="">
            </a>
        }
        <a style="text-decoration:none; font-size: 20px;color:black" asp-area="" asp-page="/ViewProduct" asp-route-productName="@product.Name">@product.Name</a>
        <div style="font-size: 16px;color:darkblue">@product.Price $</div>
        <div style="font-size: 16px;">
            @if (product.Stock > 5)
            {<div style="color:darkblue">In Stock</div>}
            else if (product.Stock == 0)
            {<div style="color:darkred">Not In Stock</div>}
            else
            {<div style="color:darkorange">Limited Quantity</div>}
        </div>
        <div style="display:flex;justify-content:center">
            <a class="btn btn-outline-success btn-sm" asp-area="" asp-page="/ViewProduct" asp-route-productName="@product.Name">View Details</a>
            @if (product.Stock != 0)
            {
                <form method="post">
                    <input type="hidden" name="ProductId" value="@product.ProductId" />
                    <input type="hidden" name="CartId" value="@Model.ShoppingCartId" />
                    <input type="hidden" name="Price" value="@product.Price" />
                    <button type="submit" class="btn btn-outline-primary btn-sm" asp-area="ShoppingCart" asp-page="/AddToCart">Add To Cart</button>
                </form>
            }
        </div>
    </div>
    }
</div>
