@page
@model ListaProduseModel

@{
	ViewData["Title"] = "Produse";
	var base_path = Request.PathBase;
}
<div class="container-fluid mt-3">
	<h1>Produse</h1>
	<div class="row card mt-2">
		<div class="table-responsive">
			<table class="table header-border table-hover verticle-middle">
				<thead>
					<tr>
						<th>Nume</th>
						<th>Gramaj</th>
						<th>Unitate de masura</th>
						<th>Pret</th>
						<th>Categorie</th>
						<th>Poza</th>
						<th style="text-align:right"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var product in Model.Products)
					{
						<tr>
							<td>@product.Name</td>
							<td>@product.Gramaj</td>
							<td>@Model.UnitatiMasura.FirstOrDefault(unit => unit.UnitId == product.MeasuringUnitId).Name</td>
							<td>@product.Price</td>
							<td>
								@Model.Categ.FirstOrDefault(categ => categ.SubCategoryId == product.SubCategoryRefId).Name
							</td>
							<td>
								@if (product.Photo != null)
								{
									var image_path = $"{base_path}/api/webimage/GetImage/{product.Photo}";
									<img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="@image_path">
								}
								else
								{
									<img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="~/content/No_image_available.svg">
								}
							</td>
							<td>
								<a class="btn btn-danger" style="float:right;margin-left:5px" asp-area="" asp-page="/AdminPanel/Product/DeleteProduct" asp-route-canal="@Model.Canal" asp-route-productId="@product.ProductId">Sterge</a>
								<a class="btn btn-primary" style="float:right;margin-left:5px" asp-area="" asp-page="/AdminPanel/Product/CreateProduct" asp-route-canal="@Model.Canal" asp-route-productId="@product.ProductId">Editeaza</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>