@page
@model ManageUserRolesModel

@{
	ViewData["Title"] = "Roluri administrative";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-3">
	<div class="row flex-column">
		<h2>Roluri administrative</h2>
	</div>

	<div class="row card">
		<div class="table-responsive">
			<table class="table header-border table-hover verticle-middle">
				<thead>
					<tr>
						<th>Prenume</th>
						<th>Nume</th>
						<th>Email</th>
						<th>Roluri</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model.UserRolesViewModels)
					{
						<tr>
							<td>@user.FirstName</td>
							<td>@user.LastName</td>
							<td>@user.Email</td>
							<td>@string.Join(" , ", user.Roles.ToList())</td>
							<td>
								<a class="btn btn-primary" asp-area="" asp-page="/AdminPanel/RolesManagement/ModifyUserRoles" asp-route-userId="@user.UserId">Modifica roluri</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
