@page
@model OrderManageModel
@{
    ViewData["Title"] = "Manage Shop Orders";
}
<div class="container">
    <h1>Shop Orders</h1>
    @*@using (Html.BeginForm("Index", "Products"))
        {
            <input type="text" name="category" />
            <input type="submit" value="Search by category" />
        }*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Customer</th>
                <th>Status</th>
                <th>Total</th>
                <th>Date Created</th>
                <th style="text-align:right">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@Model.UsersVM.FirstOrDefault(usr => usr.Id == order.CustomerId).Email</td>
                    <td>@order.Status</td>
                    <td>@order.TotalOrdered</td>
                    <td>@order.Created</td>
                    <td>
                        <a class="btn btn-primary" style="float:right" asp-area="AdminPanel" asp-page="/OrderInfo" asp-route-orderId="@order.OrderId">Order Info</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>