@page
@model OrderInfoModel
@{
    ViewData["Title"] = "Order Info";
}
<div class="container">
    <h1>Order details</h1>
    @*@using (Html.BeginForm("Index", "Products"))
        {
            <input type="text" name="category" />
            <input type="submit" value="Search by category" />
        }*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrderInfo.FirstName</td>
                <td>@Model.OrderInfo.LastName</td>
                <td>@Model.OrderInfo.Address</td>
                <td>@Model.OrderInfo.PhoneNo</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@Model.ProductInOrders.FirstOrDefault(prod => prod.ProductRefId == product.ProductId).UsedQuantity</td>
                </tr>

            }
        </tbody>
    </table>
    <a class="btn btn-primary" style="float:right" asp-area="AdminPanel" asp-page="/OrderManage">Go Back</a>
</div>