@page
@model CreateCategoryModel
@{
    ViewData["Title"] = "Editare Categorie";
    var base_path = Request.PathBase;
}
<div class="container">
    <h1>Editare Categorie</h1>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="@Model.Category.CategoryId" type="hidden" />
        <input asp-for="@Model.Canal" type="hidden"/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tip camp</th>
                    <th>Valoare</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nume</th>
                    <td class="form-group">
                        <input asp-for="@Model.Category.Name" class="form-control" />
                        <span asp-validation-for="@Model.Category.Name" class="text-danger"></span>
                    </td>
                </tr>
                @if(Model.Canal == 1){
                <tr>
                    <th>SuperMarket</th>
                    <td>
                        <select asp-for="@Model.Category.SuperMarketRefId" class="form-control">
                            @foreach (var supermarket in Model.SuperMarkets)
                            {
                                <option value="@supermarket.SuperMarketId">@supermarket.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                }else{
                <tr>
                    <th>Restaurant</th>
                    <td>
                        <select asp-for="@Model.Category.RestaurantRefId" class="form-control">
                            @foreach (var restaurant in Model.Restaurante)
                            {
                                <option value="@restaurant.RestaurantId">@restaurant.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                }
                <tr>
                    <th>Poza</th>
                    <td class="form-group">
                        <input type="hidden" asp-for="@Model.Category.Photo" />
                        @if (@Model.Category.Photo != null)
                        {
                            var image_path = $"{base_path}/Image/{Model.Category.Photo}";
                            <img id="categoryphoto" style="width:150px;height:150px; object-fit:cover" src="@image_path">
                        }
                        else
                        {
                            <img id="categoryphoto" style="width:150px;height:150px; object-fit:cover" src="~/content/No_image_available.svg">
                        }
                        <input type="file"
                               accept=".png,.jpg,.jpeg,.gif,.tif"
                               asp-for="@Model.Category.Photo"
                               class="form-control"
                               style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                               onchange="document.getElementById('categoryphoto').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="@Model.Category.Photo" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        @if (Model.Category.CategoryId > 0)
        {
            <button type="submit" class="btn btn-primary" asp-route-categId="@Model.Category.CategoryId">
                <text>Salveaza modificari</text>
            </button>;
        }
        else
        {
            <button type="submit" class="btn btn-primary">
                <text>Adauga Categorie</text>
            </button>;
        }
        <a class="btn btn-warning" asp-area="AdminPanel" asp-page="/Category/Index" asp-route-canal="@Model.Canal">Anuleaza</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}