@page
@model CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    var base_path = Request.PathBase;
}

<div class="container">
    <h1>Checkout</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                var cartitem = Model.CartItems.FirstOrDefault(item => item.ProductRefId == product.ProductId);
                <tr>
                    <td>@product.Name</td>
                    <td>@Model.Categ.FirstOrDefault(categ => categ.CategoryId == product.CategoryRefId).Name</td>
                    <td>@cartitem.Quantity</td>
                    <td>@product.Price</td>
                    <td>
                        @if (@product.Photo != null)
                        {
                            var image_path = $"{base_path}/Image/{product.Photo}";
                            <img id="photo" style="width:50px;height:50px; object-fit:cover" src="@image_path">
                        }
                        else
                        {
                            <img id="photo" style="width:50px;height:50px; object-fit:cover" src="">
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="@Model.OrderInfos.OrderInfoId" type="hidden" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" asp-for="@Model.OrderInfos.FirstName" class="form-control" />
                        <span asp-validation-for="@Model.OrderInfos.FirstName" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.OrderInfos.LastName" class="form-control" />
                        <span asp-validation-for="@Model.OrderInfos.LastName" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.OrderInfos.Address" class="form-control" />
                        <span asp-validation-for="@Model.OrderInfos.Address" class="text-danger"></span>
                    </td>
                    <td>
                        <input type="text" asp-for="@Model.OrderInfos.PhoneNo" class="form-control" />
                        <span asp-validation-for="@Model.OrderInfos.PhoneNo" class="text-danger"></span>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Review All Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>@Model.ShoppingCart.TotalInCart</td>
                <td>
                    <a class="btn btn-primary" asp-area="ShoppingCart" asp-page="/Index">Go Back...</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>