@page
@model LastCheckModel
@{
    ViewData["Title"] = "Last Check";
    var base_path = Request.PathBase;
}


<div class="container">
    <h1>Checkout</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                var cartitem = Model.CartItems.FirstOrDefault(item => item.ProductRefId == product.ProductId);
                <tr>
                    <td>@product.Name</td>
                    <td>@Model.Categ.FirstOrDefault(categ => categ.CategoryId == product.CategoryRefId).Name</td>
                    <td>@cartitem.Quantity</td>
                    <td>@product.Price</td>
                    <td>
                        @if (@product.Photo != null)
                        {
                            var image_path = $"{base_path}/Image/{product.Photo}";
                            <img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="@image_path">
                        }
                        else
                        {
                            <img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="">
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Full Name</th>
                <th>Address</th>
                <th>Phone No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrderInfos.FullName</td>
                <td>@Model.OrderInfos.Address</td>
                <td>@Model.OrderInfos.PhoneNo</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>@Model.ShoppingCart.TotalInCart</td>
                <td>
                    <a class="btn btn-primary" asp-area="ShoppingCart" asp-page="/Checkout">Go Back...</a>
                    <a class="btn btn-primary" asp-area="ShoppingCart" asp-page="/PlaceOrder">Place Order</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>