@page
@model IndexModel

@{
    ViewData["Title"] = "Products";
    var base_path = Request.PathBase;
}
<div class="container">
    <h1>Shop Products</h1>
    <h2>
        <a class="btn btn-primary" asp-area="AdminPanel" asp-page="/Product/CreateProduct">Add New Product</a>
        <a class="btn btn-primary" asp-area="AdminPanel" asp-page="/Category/Index">Go To Categories</a>
    </h2>

    @*@using (Html.BeginForm("Index", "Products"))
        {
            <input type="text" name="category" />
            <input type="submit" value="Search by category" />
        }*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                @*<th>Description</th>*@
                <th>Stock</th>
                <th>Price</th>
                <th>Category</th>
                <th>Photo</th>
                <th style="text-align:right">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    @*<td>@product.Description</td>*@
                    <td>@product.Stock</td>
                    <td>@product.Price</td>
                    <td>
                        @Model.Categ.FirstOrDefault(categ => categ.CategoryId == product.CategoryRefId).Name
                    </td>
                    <td>
                        @if (product.Photo != null)
                        {
                            var image_path = $"{base_path}/Image/{product.Photo}";
                            <img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="@image_path">
                        }
                        else
                        {
                            <img id="productphoto" style="width:50px;height:50px; object-fit:cover" src="">
                        }
                    </td>
                    <td>
                        <a class="btn btn-danger" style="float:right;margin-left:5px" asp-area="AdminPanel" asp-page="/Product/DeleteProduct" asp-route-productName="@product.Name">Remove</a>
                        <a class="btn btn-primary" style="float:right" asp-area="AdminPanel" asp-page="/Product/CreateProduct" asp-route-productName="@product.Name">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>