@page
@model CreateSubCategoryModel
@{
	ViewData["Title"] = "Editare SubCategorie";
	var base_path = Request.PathBase;
}
<div class="container-fluid mt-3">
	@if (Model.SubCategory.SubCategoryId > 0)
	{
		<h1>Editare SubCategorie</h1>
	}
	else
	{
		<h1>Adaugare SubCategorie</h1>
	}

	<div class="row card mt-2">
		<form method="post" enctype="multipart/form-data">
			<input asp-for="@Model.SubCategory.SubCategoryId" type="hidden" />
			<input asp-for="@Model.Canal" type="hidden" />
			<input type="hidden" asp-for="@Model.SubCategory.Photo" />
			<div class="table-responsive">
				<table class="table header-border table-hover verticle-middle">
					<thead>
						<tr>
							<th>Tip camp</th>
							<th>Valoare</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Nume</th>
							<td class="form-group">
								<input asp-for="@Model.SubCategory.Name" class="form-control" />
								<span asp-validation-for="@Model.SubCategory.Name" class="text-danger"></span>
							</td>
						</tr>
						<tr>
							<th>Categorie</th>
							<td>
								<select asp-for="@Model.SubCategory.CategoryRefId" class="form-control">
									@foreach (var category in Model.Categ)
									{
										<option value="@category.CategoryId">@category.Name</option>
									}
								</select>
								<span asp-validation-for="@Model.SubCategory.CategoryRefId" class="text-danger"></span>
							</td>
						</tr>

						@*<tr>
						<th>Poza</th>
						<td class="form-group">
						<input type="hidden" asp-for="@Model.SubCategory.Photo" />
						@if (@Model.SubCategory.Photo != null)
						{
						var image_path = $"{base_path}/api/webimage/GetImage/{Model.SubCategory.Photo}";
						<img id="productphoto" style="width:150px;height:150px; object-fit:cover" src="@image_path">
						}
						else
						{
						<img id="productphoto" style="width:150px;height:150px; object-fit:cover" src="~/content/No_image_available.svg">
						}
						<input type="file"
						accept=".png,.jpg,.jpeg,.gif,.tif"
						asp-for="@Model.SubCategory.Photo"
						class="form-control"
						style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
						onchange="document.getElementById('productphoto').src = window.URL.createObjectURL(this.files[0])" />
						<span asp-validation-for="@Model.SubCategory.Photo" class="text-danger"></span>
						</td>
						</tr>*@
					</tbody>
				</table>
			</div>
			<div class="d-flex align-items-center flex-column">
				@if (Model.SubCategory.SubCategoryId > 0)
				{
					<button type="submit" class="btn btn-primary" asp-route-productId="@Model.SubCategory.SubCategoryId">
						<text>Salveaza modificari</text>
					</button>
				}
				else
				{
					<button type="submit" class="btn btn-primary">
						<text>Adauga SubCategorie</text>
					</button>
				}
				<a class="btn btn-warning mt-5" asp-area="" asp-page="/AdminPanel/SubCategory/ListaSubcategorii" asp-route-canal="@Model.Canal">Anuleaza</a>
			</div>
		</form>
	</div>
</div>
@section Scripts {

	<partial name="_ValidationScriptsPartial" />
}