@page
@model ListaCompaniiModel

@{
	ViewData["Title"] = "Companii";
	var base_path = Request.PathBase;
}
<div class="container-fluid mt-3">
	<h1>Companii</h1>
	<div class="row card mt-2">
		<div class="table-responsive">
			<table class="table header-border table-hover verticle-middle">
				<thead>
					<tr>
						<th>Nume</th>
						<th>Nr Telefon</th>
						<th>Deschis ?</th>
						<th>Data deschiderii</th>
						@*						<th>Cost transport</th>
						<th>Comanda minima</th>*@
						<th>Poza</th>
						<th style="text-align:right"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var product in Model.Companii)
					{
						<tr>
							<td>@product.Name</td>
							<td>@product.TelefonNo</td>
							<td>@product.IsActive</td>
							<td>@product.Opening</td>
							@*							<td>@product.TransporFee</td>
						<td>@product.MinimumOrderValue</td>*@
							<td>
								@if (product.Photo != null)
								{
									var image_path = $"{base_path}/api/webimage/GetImage/{product.Photo}";
									<img id="productphoto" style="width:50px;height:50px; object-fit:contain" src="@image_path">
								}
								else
								{
									<img id="productphoto" style="width:50px;height:50px; object-fit:contain" src="~/content/No_image_available.svg">
								}
							</td>
							<td>
								<button class="btn btn-danger" style="float:right;margin-left:5px" onclick="ConfirmDelete(@product.CompanieId)">Sterge</button>
								<a class="btn btn-primary" style="float:right;margin-left:5px" asp-area="" asp-page="/AdminPanel/Companies/CreateCompanie" asp-route-restId="@product.CompanieId">Editeaza</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		function ConfirmDelete(restId) {
			var x = confirm("Esti sigur ca vrei sa stergi compania din baza de date (este ireversibil)?");
			if (x !== false)
				window.location.href = '/AdminPanel/Companies/DeleteCompanie?restId=' + restId;
		}
	</script>
}